Python Version: 3.10.10 

套件：
Pandas Version: 2.0.3
NumPy Version: 1.26.0
Matplotlib Version: 3.7.2
Dask Version: 2023.11.0
Scikit-Learn Version: 1.3.0
CatBoost Version: 1.2.2
SciPy Version: 1.11.2
